*{
    margin: 0;
    padding: 0;
    font-family: "Arimo", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.cmn-btn{
    background-color: #1D4ED8;
    color: #ffffff;
    border: none;
    padding: 12px 22px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}
.navbar-parent-root{
    background-color: #ffffff;
}
.navbar-parent{
    padding:16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 40px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-links li a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    font-weight: 400;
}
.nav-links li a:hover{
    color: #1D4ED8;
}

/* hero section start */
.hero-parent-root {
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.h-overlay {
    background: rgba(31, 27, 32, 0.692);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.h-content {
    max-width: 850px;
    color: #ffffff;
    width: 100%;
    padding: 150px 0;
}

.h-content h1 {
    font-size: 80px;
    font-weight: 650;
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
}
.h-content p {
    font-size: 22px;
    font-family: "Inter", sans-serif;
    margin-bottom: 300px;
}
/* hero section end */

/* speaker section start */
.about-speakers {
    padding: 100px 0px;
}
.about-speakers .speakers-head {
    text-align: center;
    font-size: 56px;
    font-weight: 800;
    color: #000102;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.box-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.box {
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 24px;
    
}
.box:hover {
    cursor: pointer;
}
.box img {
    width: 100%;
    height: 260px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.track-label{
    margin: 10px 0px;
    font-size: 12px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #2563EB;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 20px;
    color: #0D1B2A;
    margin-bottom: 4px;
    font-family: "Inter", sans-serif;
    padding: px 0px;
}

.box p {
    color: #575757;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}
/* speaker section end */