*{
    margin: 0;
    padding: 0;
    font-family: "Arimo", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.cmn-btn{
    background-color: #1D4ED8;
    color: #ffffff;
    border: none;
    padding: 12px 22px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}
.btn{
    background-color: #ffffff;
    color:#1D4ED8;
    border: 1px solid #1D4ED8;;
}
.cmn-btn:hover{
    background-color: white;
    color:#1D4ED8;
    border: 1px solid #1D4ED8;;
}
.cmn-header {
    text-align: center;
    font-size: 56px;
    font-weight: 800;
    color: #000102;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
.cmn-text{
    color: #575757;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}
.navbar-parent-root{
    background-color: #ffffff;
}
.navbar-parent{
    padding:16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 40px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-links li a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    font-weight: 400;
}
.nav-links li a:hover{
    color: #1D4ED8;
}

/* hero section start */
.hero-parent-root {
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.h-overlay {
    background: rgba(31, 27, 32, 0.692);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.h-content {
    max-width: 850px;
    color: #ffffff;
    width: 100%;
    padding: 150px 0;
}

.h-content h1 {
    font-size: 80px;
    font-weight: 650;
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
}
.h-content p {
    font-size: 22px;
    font-family: "Inter", sans-serif;
    margin-bottom: 300px;
}
/* hero section end */

/* speaker section start */
.about-speakers {
    padding: 100px 0px;
}

.box-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.box {
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 24px;
    
}
.box:hover {
    cursor: pointer;
}
.box img {
    width: 100%;
    height: 260px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.track-label{
    margin: 10px 0px;
    font-size: 12px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #2563EB;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 20px;
    color: #0D1B2A;
    margin-bottom: 4px;
    font-family: "Inter", sans-serif;
    padding: px 0px;
}

/* speaker section end */
/* pricing section start */
.pr-parent{
    padding: 80px 20px 100px;
}
.pr-parent h2{
    margin-bottom: 0px;
}
.pr-header p{
    text-align: center;
}
.pr-container{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.pr-card{
    border: 1px solid #d1d1e9;
    border-radius: 12px;
    padding: 32px 34px;
    background-color: #ffffff;
}
.plan-name{
    color: #575757;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.pr-head-section{
    margin-bottom: 30px;
}
.feature-card{
    background-color: #0f172a;
    color: #ffffff;
    border-color: #0f172a;
}
.feature-card .plan-name{
    color:#93c5fdFF;
}
.pr-card h3{
    font-size: 36px;
    font-weight: 800;
}
.feature-card ul li{
    color: #ffffff;
}


.pr-card ul{
    padding-left: 16px;
}
.featured-list li{
    font-size: 14px;
    color: #334155;
    margin-bottom: 14px;
}
.featured-list li::marker{
    color: #2563ebFF;
}
.pr-card .cmn-btn{
    width: 100%;
}

/* pricing section end */
/* 
   Stay Connected Section
*/
.dc-connect-section {
    padding: 80px 20px;
    background: #ffffff;
}
.dc-connect-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 70px;
    align-items: center;
}


/* 
   Left Side
 */

.dc-connect-info h2 {
    margin: 0 0 15px;
    color: #0b1b3a;
    font-size: 36px;
    line-height: 1.2;
}
.dc-connect-description {
    max-width: 560px;
    margin: 0 0 35px;
    color: #64748b;
    font-size: 15px;
    line-height: 1.7;
}

/* Event Highlights */
.dc-event-highlights {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.dc-event-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.dc-event-icon {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eaf3ff;
    color: #1769e0;
    border-radius: 8px;
    font-size: 18px;
}

.dc-event-item h3 {
    margin: 0 0 4px;
    color: #172554;
    font-size: 16px;
    font-weight: 600;
}

.dc-event-item p {
    margin: 0;

    color: #64748b;
    font-size: 14px;
}

/* 
   Newsletter Card
 */
.dc-newsletter-card {
    padding: 35px;
    background: #f8fbff;
    border: 1px solid #dce9f8;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 15px 19px 30px rgb(125 124 124 / 37%) !important;
}
.dc-newsletter-card h2 {
    margin: 0 0 12px;
    color: #0b1b3a;
    font-size: 26px;
    line-height: 1.3;
}

.dc-newsletter-card > p {
    margin: 0 0 25px;
    color: #64748b;
    font-size: 14px;
    line-height: 1.6;
}


/* Newsletter Form */
.dc-newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.dc-newsletter-form input {
    width: 100%;
    height: 46px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid #d6e0ec;
    border-radius: 6px;
    outline: none;
    background: #ffffff;
    color: #172554;
    font-size: 14px;
}
.dc-newsletter-form input::placeholder {
    color: #94a3b8;
}
.dc-newsletter-form input:focus {
    border-color: #1769e0;
}

/* Sign Up Button */
.dc-newsletter-form button {
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 6px;
    background: #1769e0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}
.dc-newsletter-form button:hover {
    background: #0f56bd;
}
.dc-newsletter-form button i {
    margin-left: 7px;
}
/* footer start */
.f-root {
    background-color: #070d19;
    color: #ffffff;
    padding: 40px 0 30px;
}

.f-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.f-left .logo {
    color: #ffffff;
}
.f-left .f-logo{
    color: blue;
}
.f-left .year{
    margin-left: 35px;
}
.f-icon {
    display: flex;
    gap: 16px;
}

.f-icon span {
    width: 40px;
    height: 40px;
    background-color: #1e293b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.f-icon span:hover {
    background-color: #2563eb;
}

.f-divider {
    border: none;
    border-top: 1px solid #1e293b;
    margin-bottom: 30px;
}

.f-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #64748b;
}

.f-links {
    display: flex;
    gap: 20px;
}
.f-links a:hover {
    color: #94a3b8;
}
/* footer end */